span{
    color: chartreuse;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    
}
#hi{
    text-align: center;
    padding-top: 4%;
}
.link-button{
    text-decoration: chocolate;
    color: white;
    padding: 10px 10px 40px;
    background-image: linear-gradient(yellow orange);
    border-radius: 5px;
    background-color: blue;
}
#op{
    color: brown;
    text-align: left;
}
.yoo{
    
    width: 60%;
    padding-left: 10%;
    padding-top: 10%;
}
.flexible-container{
    display: flex;
    margin-bottom: 10%;
}