span{
    color: chartreuse;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    
}
h1{
    text-align: center;
    padding-top: 4%;
}
.link-button{
    text-decoration: chocolate;
    color: greenyellow;
    padding: 10px 10px 40px;
    background-image: linear-gradient(yellow orange);
    border-radius: 5px;
}